@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@media only screen and (max-width: 600px) {
    quote.container {
        max-width: 360px;
        max-height: 740px;
        padding: 2rem;
    }
    body {
        display: flex;
        align-items: center;
    }
   
    /* Styles for screens that are 600px wide or less */
}
/* loader */
    .loader {
        display: none; 
        border: 16px solid pink; /* Light grey */
        border-top: 16px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
      }
      
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }


html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%23c7b4e6' fill-opacity='0.4'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    color: antiquewhite;
    font-family: Oswald, sans-serif;
    font-weight: 700;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote-container {
    width: auto;
    max-width: 600px;
    padding: 40px 30px;
    border-radius: 10px;
    background-color: rgba(0, 0, 100, 0.4);
    
    }
   
    .quote-text {
        font-size: 2.75rem;
        padding-top: 1rem;
        background-color: rgba(0,0,40, 0.3);
        transition: font-size 1.5s ease-in-out;
    }
    .quote-text:hover {
        color: rgb(158, 221, 200);
        font-size: 2.76rem;
        cursor: pointer;
        
    }
    .long-quote {
        font-size: 2rem;
    }
    .fa-quote-left {
        font-size: 2rem;
    }
    .fa-quote-right {
        font-size: 2rem;
    }
    .quote-author {
        margin-top: 15px;
        font-size: 2.4rem;
        font-weight: 550;
        font-style: italic;
        padding-bottom: 2rem;
        padding-top: 1.5rem;

    }
    .button-container {
        margin-top: 1px;
        display: flex;
        justify-content: space-between;
        padding: .2rem 4rem;
    }
    button {
        cursor: pointer;
        font-size: 1.5rem;
        height: 5rem;
        border: none;
        border-radius: 12px;
        color: rgb(255, 255, 255);
        background: #070000;
        outline: none;
        padding: .2rem 3.5rem;
        box-shadow: 0 0.2rem rgba(0, 0, 255, 0.2);
        transition: background-color 2s ease;
    }
    button:hover {
        background-color: #2e6c9c;
    }
    button:active {
        transform: translate(0, 0.15rem);
        box-shadow: 0 0.1rem rgba(0,0,255,0.65)
    }
   
    .quote-text {
        font-size: 2.5rem;
    }
    .twitter-button:hover {
        background-color: #33a1f3;
    } 
   
    .fa-twitter {
        font-size: 1.5rem;
    }
    .new-quote {
       padding-left: .2drem;
       
       background-color: #33a1f3;
    }
   
    /* Add twitter color fade in */
    @keyframes changeColor {
        0% {
          background-color:#070000;
          ; /* Initial color */
        }
        100% {
          background-color: #38a1f3; /* Final color */
        }
      }
      .twitter-button {
        animation: changeColor 5s ease-in-out forwards; /* 2s duration */
        /* Additional styling */
       
        /* border: none;
        color: white; */
       
      }

