# Compiled files
/target

# Uncomment this if you're making a library
# Cargo.lock

# Editor/IDE files
/.vscode/
/.idea/
/*~
*.swp

# Other common Rust files
*.rs.bk

# Environment specific files (if applicable)
/.env
